/* Глобальные стили */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v9-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/noto-sans-v9-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/noto-sans-v9-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/noto-sans-v9-latin_cyrillic-700.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans';
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    padding-right: calc(50% - 384px + 40px);
    padding-left: calc(50% - 384px + 40px);
  }
}


@media (min-width: 1024px) {
  .container {
    padding-right: calc(50% - 512px + 42px);
    padding-left: calc(50% - 512px + 42px);
  }
}

@media (min-width: 1440px) {
  .container {
    padding-right: calc(50% - 720px + 40px);
    padding-left: calc(50% - 720px + 40px);
  }
}

/* Шапка */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.site-header__button {
  padding: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.site-header__nav {
  display: none;
}

.site-header__link {
  display: block;
}

.site-header__link--logo {
  padding-top: 4px;
}

.site-header__link--language {
  display: none;
}

@media (min-width: 768px) {
  .site-header {
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .site-header__button {
    margin-right: 247px;
  }

  .site-header__icon-burger,
  .site-header__icon-language,
  .site-header__icon-phone {
    width: 60px;
    height: 60px;
  }

  .site-header__link--logo {
    padding-top: 12px;
    margin-right: auto;
  }

  .site-header__logo {
    width: 103px;
    height: 28px;
  }

  .site-header__link-wrapper {
    display: flex;
  }

  .site-header__link--language {
    display: block;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .site-header__button {
    margin-right: 358px;
  }
}

@media (min-width: 1440px) {
  .site-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .site-header__button {
    margin-right: 568px;
  }

  .site-header__link--language {
    margin-right: 30px;
  }
}

/* Блок о нас */

.site-main__heading {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
}

.site-main__nav {
  margin-bottom: 50px;
}

.main-nav__list {
  padding: 0;

  list-style: none;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 20px;
}

.main-nav__link {
  position: relative;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #000000;
}

.main-nav__link::after {
  position: absolute;
  top: calc(50% - 7px);
  right: -16px;

  width: 10px;
  height: 14px;

  background-image: url('../img/arrows/arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.main-info__text {
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}

.main-info__list {
  margin-bottom: 20px;

  list-style: none;
}

.main-info__list--sublist {
  padding-left: 0;
  margin-top: 20px;
}

.main-info__item {
  position: relative;

  padding-left: 28px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}

.main-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.main-info__item::before {
  position: absolute;
  top: 6px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #01576C;
  border-radius: 50%;

  content: '';
}

.main-info__slider {
  margin-top: 20px;
  margin-bottom: 60px;
}

.slider {
  position: relative;

  display: flex;
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;

  list-style: none;

  overflow: hidden;
}

.slider__slide {
  width: 100%;
}

